<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ImageWebShareFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MVP_V1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BC6D0871C95709C00744718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC6D09F1C95709C00744718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC6D0AA1C95709C00744718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC6D0C01C9570C200744718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE91CA91C9D484A00B1E10C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
